header
    div.logo-wrapper
        //- img(src="./../../images/fa_logo.png", alt="")
        img(src="http://via.placeholder.com/124x130", alt="")
    div.primary-menu-wrapper
        .top
            .container
                .right
                    a(href="#") درباره ایران
                    a(href="#") تماس با ما
                .middle
                    a(href="#") 
                        i.fa.fa-twitter
                    a(href="#") 
                        i.fa.fa-instagram 
                    a(href="#") 
                        i.fa.fa-telegram
                .left
                    ul
                        li
                            a(href="#") 
                                i.fa.fa-search
                        li
                            a(href="#") 
                                i.fa.fa-heart                    
                        li
                            a(href="#") ثبت نام                    
                        li
                            a(href="#") فارسی
                    
        nav.buttom 
            ul
                li
                    .dropdown
                        button(type='button' class='dropdown-btn') مقاصد گردشگری
                        .dropdown-content
                            a(href="#") لینک یک
                            a(href="#") لینک یک
                            a(href="#") لینک یک
                li
                    .dropdown
                        button(type='button' class='dropdown-btn') مقاصد گردشگری
                        .dropdown-content
                            a(href="#") لینک یک
                            a(href="#") لینک یک
                            a(href="#") لینک یک