.DS_Store
node_modules/
dist/
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
New Text Document.txt
testing/test.html
testing/ir.svg
dist.zip
webpack.config - before changes.js
testing/*

