// @include font-face("Open Sans", "../fonts/open-sans/OpenSans-Regular", normal, $file-formats: ttf);
// @include font-face("Open Sans", "../fonts/open-sans/OpenSans-Regular", normal, italic, $file-formats: ttf);
// @include font-face(Yekan, "./../../fonts/yekan");

@font-face {
    font-family: "Yekan";
    src: url("./../fonts/yekan.eot");
    src: url("./../fonts/yekan.eot?#iefix") format("embedded-opentype"),
      url("./../fonts/yekan.woff") format("woff"),
      url("./../fonts/yekan.ttf") format("truetype"),
      url("./../fonts/Yekan.svg#yekan") format("svg");
    font-weight: bold;
    font-style: normal;
  }