header {
  display: none;
}
@include for-size(tablet-portrait-up) {
  header {
    font-family: "Yekan";
    display: flex;
    flex-direction: row;
    height: 130px;
    .primary-menu-wrapper {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .top {
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background: $accent;
        color: $accent-fc;
        a {
          color: $accent-fc;
          text-decoration: none;
          border-left: 1px solid white;
          padding: 0 20px;
          &:hover {
            color: $main;
          }
        }
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          .right {
            display: flex;
            justify-content: center;
            flex: 1;
          }
          .middle {
            display: flex;
            justify-content: center;
            flex: 2;
            font-size: 19px;
            a {
              border: none;
              padding: 0 15px;
            }
          }
          .left {
            display: flex;
            justify-content: center;
            flex: 1;
            ul {
              list-style: none;
              li {
                display: inline;
                a {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
      .buttom {
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        ul {
          list-style: none;
          li {
            display: inline;
            a {
              display: inline-block;
            }
          }
        }
        .dropdown {
          position: relative;
          display: inline-block;
          i {
            color: $main;
            position: relative;
            bottom: -5px;
            right: 10px;
          }
          .dropdown-btn {
            border: none;
            background: $white;
            color: $menu-black;
            font-size: 15px;
            font-family: "Yekan";
            padding: 0 20px;
          }

          .dropdown-content {
            display: none;
            position: absolute;
            background-color: $white;
            min-width: 200px;
            max-width: 300px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            a {
              color: $menu-black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              &:hover {
                color: $main;
                background-color: #f1f1f1;
              }
            }

            &.map {
              min-width: 500px;
              width: 500px;
              .map-menu-wrapper {
                background-color: $main;
                display: flex;
                padding: 30px 20px;
                flex-direction: row;
                .right {
                  flex: 1;
                }
                .left {
                  flex: 2;
                  svg path:hover {
                    fill: red !important;
                  }
                  svg path {
                    fill: white !important;
                  }
                  svg path.iran {
                    fill: black !important;
                  }
                  svg g.border {
                    fill: aqua;
                  }
                }
              }
            }
          }

          &:hover .dropdown-btn {
            color: $main;
          }

          &:hover .dropdown-content {
            display: block;
          }
        }
      }
    }    
  }
}


