@include for-size(phone-only) {
  header {
    font-family: "Yekan";
    display: flex;
    flex-direction: row;
    height: 130px;
    #burger {
      display: none;
    }
    input + label {
      position: fixed;
      top: 40px;
      left: 40px;
      height: 20px;
      width: 15px;
      z-index: 5;
      span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: $black;
        transition: 0.5s;
      }
      span:first-child {
        top: 3px;
      }
      span:last-child {
        top: 16px;
      }
    }

    label:hover {
      cursor: pointer;
    }

    input:checked + label {
      span {
        opacity: 0;
        top: 50%;
      }
      span:first-child {
        opacity: 1;
        transform: rotate(405deg);
      }
      span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
      }
    }

    input ~ nav {
      background: white;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 130px;
      z-index: 3;
      transition: 0.5s;
      transition-delay: 0.5s;
      overflow: hidden;
      > ul {
        text-align: center;
        position: absolute;
        top: 35%;
        left: 20%;
        right: 20%;
        > li {
          opacity: 0;
          transition: 0.5s;
          transition-delay: 0s;
          > a {
            text-decoration: none;
            text-transform: uppercase;
            color: $black;
            font-weight: 700;
            font-family: sans-serif;
            display: block;
            padding: 30px;
          }
        }
      }
    }

    .logo-wrapper {
      z-index: 4;
    }

    input:checked ~ nav {
      height: 100%;
      transition-delay: 0s;
      > ul {
        > li {
          opacity: 1;
          transition-delay: 0.5s;
        }
      }
    }
    .logo-wrapper {
      position: fixed;
    }

    .primary-menu-wrapper {
      .top {
        position: fixed;
        top: 90px;
        right: 130px;
        z-index: 4;
        .middle {
          display: none;
        }
        .right {
          display: none;
        }
        .left {
          font-size: 13px;
          ul {
            li {
              display: inline-block;
              line-height: 13px;
              padding: 0 10px;
              border-left: 1px solid $menu-black;
              &:nth-child(2) {
                border-right: 1px solid $menu-black;
              }
              &:last-child {
                border: 0;
              }
              i {
                padding: 5px;
                line-height: 3px;
                &.fa.fa-search {
                  color: $main;
                }
              }
              &:nth-child(1),
              &:nth-child(3) {
                display: none;
              }
            }
          }
        }
      }
      .dropdown {
        position: relative;
        display: inline-block;
        i {
          color: $main;
          position: relative;
          bottom: -3px;
          right: 1px;
        }
        .dropdown-btn {
          border: none;
          background: $white;
          color: $black;
          font-size: 13px;
          font-family: "Yekan";
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: $white;
          min-width: 200px;
          max-width: 300px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          a {
            color: $menu-black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover {
              color: $main;
              background-color: #f1f1f1;
            }
          }
        }
        &:hover .dropdown-btn {
          color: $main;
        }

        &:hover .dropdown-content {
          display: block;
        }
      }

      .buttom {
        .dropdown {
          &:hover .dropdown-content {
            display: none;
          }

          .dropdown-btn {
            font-size: 18px;
          }
        }
        ul {
          i {
            display: none;
          }
          li {
            padding: 10px 0;
          }
        }
      }
    }
  }
}
@include for-size(tablet-portrait-up) {
  header {
    display: flex;
    flex-direction: row;
    height: 130px;
    #burger {
      display: none;
    }
    input + label {
      position: fixed;
      top: 40px;
      left: 40px;
      height: 20px;
      width: 15px;
      z-index: 5;
      span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: $black;
        transition: 0.5s;
      }
      span:first-child {
        top: 3px;
      }
      span:last-child {
        top: 16px;
      }
    }

    label:hover {
      cursor: pointer;
    }

    input:checked + label {
      span {
        opacity: 0;
        top: 50%;
      }
      span:first-child {
        opacity: 1;
        transform: rotate(405deg);
      }
      span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
      }
    }

    input ~ nav {
      background: white;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 130px;
      z-index: 3;
      transition: 0.5s;
      transition-delay: 0.5s;
      overflow: hidden;
      > ul {
        text-align: center;
        position: absolute;
        top: 35%;
        left: 20%;
        right: 20%;
        > li {
          opacity: 0;
          transition: 0.5s;
          transition-delay: 0s;
          > a {
            text-decoration: none;
            text-transform: uppercase;
            color: $black;
            font-weight: 700;
            font-family: sans-serif;
            display: block;
            padding: 30px;
          }
        }
      }
    }

    .logo-wrapper {
      z-index: 4;
    }

    input:checked ~ nav {
      height: 100%;
      transition-delay: 0s;
      > ul {
        > li {
          opacity: 1;
          transition-delay: 0.5s;
        }
      }
    }
    .logo-wrapper {
      position: fixed;
    }

    .primary-menu-wrapper {
      .top {
        position: fixed;
        top: 90px;
        right: 130px;
        z-index: 4;
        .container .middle {
          display: block;
          position: absolute;
          top: -80px;
          a {
            color: $menu-black;
            padding: 15px;
          }
        }
        .right {
          display: none;
        }
        .left {
          font-size: 13px;
          ul {
            li {
              display: inline-block;
              line-height: 13px;
              padding: 0 10px;
              border-left: 1px solid $menu-black;
              &:nth-child(2) {
                border-right: 1px solid $menu-black;
              }
              &:last-child {
                border: 0;
              }
              i {
                padding: 5px;
                line-height: 3px;
                &.fa.fa-search {
                  color: $main;
                }
              }
              &:nth-child(1),
              &:nth-child(3) {
                display: none;
              }
            }
          }
        }
      }
      .dropdown {
        position: relative;
        display: inline-block;
        i {
          color: $main;
          position: relative;
          bottom: -3px;
          right: 1px;
        }
        .dropdown-btn {
          border: none;
          background: $white;
          color: $black;
          font-size: 13px;
          font-family: "Yekan";
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: $white;
          min-width: 200px;
          max-width: 300px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          a {
            color: $menu-black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover {
              color: $main;
              background-color: #f1f1f1;
            }
          }
        }
        &:hover .dropdown-btn {
          color: $main;
        }

        &:hover .dropdown-content {
          display: block;
        }
      }

      .buttom {
        .dropdown {
          &:hover .dropdown-content {
            display: none;
          }

          .dropdown-btn {
            font-size: 18px;
          }
        }
        ul {
          i {
            display: none;
          }
          li {
            padding: 10px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) and (min-width: 900px) {
  header .primary-menu-wrapper .top .container .middle {
    display: none !important;
  }
}

@include for-size(tablet-landscape-up) {
  header {
    display: flex;
    flex-direction: row;
    height: 130px;
    label {
      display: none;
    }
    .logo-wrapper {
      position: static;
    }
    .primary-menu-wrapper {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .top {
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background: $accent;
        color: $accent-fc;
        z-index: 4;
        position: static;
        a {
          color: $accent-fc;
          text-decoration: none;
          border-left: 1px solid white;
          padding: 0 20px;
          &:hover {
            color: $main;
          }
        }
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          .right {
            display: flex;            
            flex: 1;
          }
          .middle {
            position: static;
            display: flex;
            justify-content: center;
            flex: 1;
            font-size: 19px;
            a {
              border: none;
              padding: 0 15px;
            }
          }
          .left {
            display: flex;
            justify-content: flex-end;
            flex: 1;
            ul {
              list-style: none;
              li {
                display: inline;
                border: 0;
                padding: 0;
                a {
                  display: inline-block;
                }
              }
            }
            .dropdown {
              position: relative;
              display: inline-block;
              i {
                color: $main;
                position: relative;
                bottom: -5px;
                right: 10px;
              }
              .dropdown-btn {
                border: none;
                background: $accent;
                color: $accent-fc;
                font-size: 15px;
                font-family: "Yekan";
                padding: 0 20px;
              }
    
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: $accent;                                
                text-align: left;
                left: 0;                
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                a {
                  color: $accent-fc;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;                  
                  border: 0;
                  &:hover {
                    color: $main;
                    background-color: #f1f1f1;
                  }
                }   
              }
    
              &:hover .dropdown-btn {
                color: $main;
              }
    
              &:hover .dropdown-content {
                display: block;
              }
            }
          }
        }
      }
      .buttom {
        height: 50%;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        position: static;        
        align-items: center;        
        ul {
          position: static;
          li {
            display: inline;
            opacity: 1;
            a {
              display: inline-block;
            }
          }
        }
        .dropdown {
          position: static;
          display: inline-block;
          i {
            color: $main;
            position: relative;
            bottom: -5px;
            right: 10px;
          }
          .dropdown-btn {
            border: none;
            background: $white;
            color: $black;
            font-size: 15px;
            font-family: "Yekan";
            padding: 0 20px;
          }

          .dropdown-content {
            display: none;
            position: absolute;
            background-color: $white;
            min-width: 200px;
            max-width: 300px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            a {
              color: $menu-black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              &:hover {
                color: $main;
                background-color: #f1f1f1;
              }
            }

            &.map {
              min-width: 500px;
              width: 500px;
              .map-menu-wrapper {
                background-color: $main;
                display: flex;
                padding: 30px 20px;
                flex-direction: row;
                .right {
                  flex: 1;
                }
                .left {
                  flex: 2;
                  svg path:hover {
                    fill: red !important;
                  }
                  svg path {
                    fill: white !important;
                  }
                  svg path.iran {
                    fill: black !important;
                  }
                  svg g.border {
                    fill: aqua;
                  }
                }
              }
            }
          }

          &:hover .dropdown-btn {
            color: $main;
          }

          &:hover .dropdown-content {
            display: block;
          }
        }
      }
    }
  }
}
