extends ./../../layout.pug

block content   
    .content.destinations        
        //- img(src="./../../images/item.png", alt="")
        .hero.destinations
            .hero-text 
                a(href="#") مقاصد گردشگری                
        .main
            .timeline-sidebar 
                ul
                    li
                        p 
                            a(href="#world") اثار جهانی                        
                    li
                        p 
                            a(href="#") آثار تاریخی 
                    li
                        p 
                            a(href="#") آثار طبیعی
                    li
                        p 
                            a(href="#") روستاهای هدف گردشگری 
                    li
                        p 
                            a(href="#") مناطق آزاد                                               
            .timeline-main 
                .timeline
                    .timeline__block                        
                        .timeline__content
                            h3.timeline__headline 
                            img(src="https://picsum.photos/800/600/?random", alt="", class="destination-image", height="300px" width="100%")
                            p                            
                        .timeline__info
                            p.timeline__date تهران
                    .timeline__block                        
                        .timeline__content
                            h3.timeline__headline 
                            img(src="https://picsum.photos/800/600/?random", alt="", class="destination-image", height="300px" width="100%")
                            p
                        .timeline__info
                            p.timeline__date
                    .timeline__block                        
                        .timeline__content
                            h3.timeline__headline
                            img(src="https://picsum.photos/800/600/?random", alt="", class="destination-image", height="300px" width="100%")
                            p 
                        .timeline__info
                            p.timeline__date اصفهان
                    .timeline__block                        
                        .timeline__content#world                        
                            h3.timeline__headline
                            img(src="https://picsum.photos/800/600/?random", alt="", class="destination-image", height="300px" width="100%")
                            p 
                        .timeline__info
                            p.timeline__date شیراز
                    .timeline__block                        
                        .timeline__content
                            h3.timeline__headline 
                            img(src="https://picsum.photos/800/600/?random", alt="", class="destination-image", height="300px" width="100%")
                            p 
                        .timeline__info
                            p.timeline__date شبه، ۲۶ فروردین
        .paginatation 
            a(href="#") 
                i.fa.fa-caret-left
            a(href="#") 1
            a(href="#", class="active") 2
            a(href="#") 3
            a(href="#") 4
            a(href="#") 5
            a(href="#") 6                
            a(href="#")
                i.fa.fa-caret-right
