body {
  direction: ltr;
}

@media (max-width: 599px) {
  header {
    input + label {
      left: auto;
      right: 40px;
    }
    .primary-menu-wrapper .top {
      right: auto;
      left: 130px;
    }

    .primary-menu-wrapper .top .left ul li:nth-child(2) {
      border: 0;
      border-left: 1px solid #7d7b7b;
      border-right: 1px solid #7d7b7b;
    }
    .primary-menu-wrapper .top .left ul li {
      border: 0;
      border-right: 1px solid #7d7b7b;
    }
  }
}

@media (min-width: 600px) {
  header {
    input + label {
      left: auto;
      right: 40px;
    }
    .primary-menu-wrapper .top {
      right: auto;
      left: 130px;
    }

    .primary-menu-wrapper .top .left ul li:nth-child(2) {
      border: 0;
      border-left: 1px solid #7d7b7b;
      border-right: 1px solid #7d7b7b;
    }
    .primary-menu-wrapper .top .left ul li {
      border: 0;
      border-right: 1px solid #7d7b7b;
    }
  }
}

@media (min-width: 900px) {
  header {
    .primary-menu-wrapper .top .container .left .dropdown .dropdown-content {
      right: 0;
      left: auto;
    }
    .primary-menu-wrapper .top .container .left .dropdown i {
      right: -5px;
    }
    .primary-menu-wrapper .top a {
      border: 0;
      border-right: 1px solid white;
    }

    .primary-menu-wrapper .top a {
      border: 0;
      border-right: 1px solid white;
    }
    input + label {
      left: auto;
      right: 40px;
    }

    .primary-menu-wrapper .top .left ul li:nth-child(2) {
      border: 0;
    }
  }

  .hero .hero-text {
    left: auto;
    right: 0;
  }
}

@media (min-width: 1200px) {
  .timeline-sidebar ul li p:nth-child(1) {
    border: 0;
    border-left: 2px solid #f5422e;
  }

  .timeline-sidebar ul li p:nth-child(1):after {
    content: none;
  }

  .timeline-sidebar ul li p:nth-child(1):before {
    content: "";
    position: absolute;
    top: 20px;
    left: -9px;
    display: block;
    width: 10px;
    height: 10px;
    border: 3px solid white;
    border-radius: 50%;
    background: #f5422e;
  }
}
