// body {
//     background: url('./../images/item.png') center center no-repeat;
//     background-color: whitesmoke;
//     p {
//         color: red;
//     }
// }

@charset 'utf-8';

@import "abstract/__abstract-dir.scss";
@import "base/__base-dir.scss";
@import "component/__component-dir.scss";
@import "layout/__layout-dir.scss";

a {
  color: $black;
  &:hover {
    color: $main;
  }
}

.content {
  &.destinations {
    padding: 0 0;
    .main {
      display: block;
      margin-top: 40px;
        margin-bottom: 40px;    
        .timeline-sidebar {
          padding-right: 20px;
          margin-bottom: 20px;
        }
    }
    @include for-size(desktop-up) {
      padding: 0 124px;
      .main {
        display: flex;
        flex-direction: row;        
        .timeline-sidebar {
          display: block;
          flex: 1;
          padding-right: 0;
          margin-bottom: 0;
        }
        .timeline-main {
          flex: 3;
        }
      }
    }
  }
}


// @import "./app-ltr.scss";