doctype html
html(lang="en")
  head
    title Visit IRAN  
    include includes/header.pug
    block scripts
  body
    include includes/navbar.pug
    block content
      h2 content goes here
    include includes/footer.pug      