extends ./../../layout.pug

block content 
    .carousel
        .owl-carousel.owl-theme#first-car
            .item            
                img(src="https://placehold.it/350x250&text=1", alt="", class="owl-lazy")
            .item
                img(src="https://placehold.it/350x250&text=2", alt="", class="owl-lazy")
            .item
                img(src="https://placehold.it/350x250&text=3", alt="", class="owl-lazy")
            .item
                img(src="https://placehold.it/350x250&text=4", alt="", class="owl-lazy")    