extends ./../../layout.pug

block content   
    p this has changes from inside the index page
    img(src="./../../images/item.png", alt="")
    input(type="text")
    input(type="button", value="Shaahin", class="btn alt")